
body {
  color: #888;
  background-color: #fff;
  font-size: 0.938;
  font-family: 'Roboto', sans-serif;
    }

h1{
  font-size: 6.25em;
  font-family: 'Lobster', cursive;
  letter-spacing: -3px;
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px 0 #888, 0 1px #888, 1px 0 #888, 0 -1px #888;


}

h2{
  font-size: 2.063em;
  font-family:'Lobster', cursive;
  color: #717171;
}

.h2-mentions{
  font-size: 2.063em;
  font-family:'Lobster', cursive;
  color: #fff;
}

h3{
  font-size: 1em;
  font-style: italic;
}

h4{
  font-size: 0.944em;
  font-weight: bold;
  color: #5a5a5a;
}


blockquote{
  font-size: 30px;
  text-align: center;
  font-style: italic;
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px 0 #888, 0 1px #888, 1px 0 #888, 0 -1px #888;
}


/* MENU */

.menu {
  background-color: #2799fa;
  color: #fff;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
}

.box-nom{
  margin-right: auto;
}

.espacement-interne-menu {
  padding: 1em;
}

a {
color: white;
text-decoration: none;
text-transform: uppercase;
}

a:hover {
text-decoration: underline;
}

a:active {
color: white;
}

a:visited {
color: white;
}

/* BANDEAU IMAGE */

#bandeau {
  background-image: url("photos/bandeau.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.bandeau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
}



/* PRESENTATION */

.presentation {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  padding-left: 5em;
  padding-right: 5em;
  text-align: justify;
}

.box-presentation{
  width: 500px;
  margin-top: 3em;
  margin-bottom: 3em;

}

.box-presentation-photo{
  width: 300px;
  margin-top: 3em;
  margin-bottom: 3em;

}

.image-presentation{
  border-radius: 10% 0% 10% 10%;
}


/* PRODUITS */

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 3em;
}

.produits-pitch{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.photos-produits{
  width: 50%;
  height: auto;
}

.alignement-photos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.2em;
}




/* CONTACT */

.partie-contact {
  color: #fff;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #acd9ff;
}

.contact-interne{
  width: 300px;
  text-align: center;
  padding: 1em;
}


.reseaux-sociaux{
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  
}

/* MENTIONS LEGALES */

.mentions-legales {
  background-color: #2799fa;
  color: #fff;
  text-align: center;
  padding: 1em;
}

a.mentions {
  color: white;
  text-decoration: none;
  text-transform: none;
}
  
a.mentions:hover {
  text-decoration: underline;
}
  
a.mentions:active {
  color: white;
}
  
a.mentions:visited {
  color: white;
}




/* PAGE PRODUIT */

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5em;
  padding-right: 5em;


}

.photo-chaise{
  width: 100%;
  height: auto;
}

.img-chaise{
  width: 100%;
  height: auto;
}


.detail-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: justify;
}


ul {
  list-style: square ;
}

.liens-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 40%;
  height: auto;
  padding-top: 3em;


}

.photo-lien{
  width: 50%;
  height: auto;
}




/* PAGE MENTIONS LEGALES */


.page-mentions-legales{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  text-align: justify;
  padding: 5em;

}